.container {
  position: relative;
  height: 742px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.textBox {
  max-width: 539px;
  text-align: left;
}

.header {
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  color: #454E54;
}

.text {
  margin-top: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #5D6970;
}

.cardGroup {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.cardHeader{
  height: 26px;
  margin: 14px 0 6px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #454E54;
}

.cardDescription {
  height: 54px;
  top: 82px;

  font-weight: 400;
  font-size: 12px;
  line-height: 18px;

  color: #5D6970;
}

.mobileIcon {
  order: 2;
}