.container {
  min-height: 1161px;
  position: relative;
}

.textBox {
  max-width: 539px;
  position: absolute;
  top: 309px;
  left: 91.12px;
  text-align: left;
}

.header {
  font-weight: 500;
  font-size: 50px;
  line-height: 66px;
  color: #454E54;
}

.text {
  margin-top: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #505F98;
}

.hero {
  height: 100vh;
  max-height: 1161px; 
} 

.hero svg {
  overflow: overlay;
  position: relative;
  z-index: -1;
  left: 341px;
}

.buttonGroup {
  margin-top: 69px;
}

.learnButton {
  background-color: transparent;
  border: 2px solid #454E54;
  border-radius: 2px;
  margin-left: 30.27px;
  color: #454E54;
}