.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;

  width: 189px;
  height: 36px;  
  border-radius: 2px;

  background-color: var(--main-button-color);
  color: white;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--main-button-color);
  opacity: 0.5;
  color: white;
}