.footer {
  width: 100%;
  height: 210px;
  z-index: 5;
  background: #E7ECFF;
}

.container { 
  max-width: 1440px;
  height: 100%;
  margin: auto;
}

.topBox {
  padding-top: 20px;
  height: 118px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  border-bottom: 1px solid #CDD1D4;
}

.topBox > div {
  flex: 1;
}

.company {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */


  /* Colour/Main/Grey/400 */

  color: #939EA4;
}

.logo {
  text-align: center;
}

.buyButtonContainer {
  text-align: right;
}

.bottomBox {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.socialsLinks {
  display: flex;
  flex-direction: row-reverse;
  gap: 34px;
}

.container .logo {
  flex: 1;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 38px;
  /* identical to box height, or 146% */


  /* Colour/Logo/Primary */

  color: #37447E;
}

.navigationTabs {
  display: flex;
  gap: 60px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  
  
  /* Colour/Main/Blue/300 */
  
  color: #929ECC;
}

.tab:hover {
  box-shadow: inset 0 0 0 2em  rgba(255, 255, 255, 0.5);
}

.buyButton {
  padding: 0;
  width: 109px;
  height: 26px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}