.container {
  display: flex;
  height: 569px;
  align-items: center;
  gap: 155px;
  justify-content: center;
}

.textBox {
  max-width: 445px;
  text-align: left;
}

.header {
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  color: #454E54;
}

.text {
  margin-top: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #5D6970;
}